{% load static %}
{% load tags_extras %}
<div class="contenidos container-fluid entrenamientos" xmlns="http://www.w3.org/1999/html">
    <div class="row ml-md-15">
        <div class="col-md-12 col-xs-12 caja-entrenamiento">
            {% if all == False %}
            {% block historico_id %}
            {% if user.is_authenticated %}

            <div class="login_on"></div>
            <br/>
            <div class="container-fluid">
                <div class="ejercicios row">
                    <div class="items col-md-10 col-12 offset-md-1 pb-3 pr-md-10 mb-3 mb-md-5">
                        <div class="container-fluid entrenamiento-cab">
                            <div class="ejercicios row">
                                <div class="col-12">
                                    <h1> Entrenamiento de {{ historico|get_fechaEntrenamiento }} para [{{ user }}]</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ejercicios row">
                    {% for i in historico %}

                    {% if forloop.counter|divisibleby:"2" %}
                    <div class="col-md-5 mb-md-5 mb-3  mr-md-0 offset-md-0 col-12 items">
                        {% else %}
                        <div class="col-md-5 mb-3 mb-md-5 mr-md-3 offset-md-1 col-12 items">
                            {% endif %}

                            <span>{{ i.ejercicios__nombre }}</span> Series: <span class="dato">{{ i.series }}</span><br>
                            {% if i.ejercicios__indicaciones %}
                            <button type="button" class="btn btn-primary indicaciones-btn" data-toggle="modal"
                                    data-indicaciones="{{ i.ejercicios__indicaciones }}"
                                    data-target="#modalindicaciones">
                                Indicaciones
                            </button>
                            {% endif %}
                            {% if i.ejercicios__url %}
                            <button type="button" class="btn btn-primary video-btn" data-toggle="modal"
                                    data-src="{{ i.ejercicios__url }}" data-target="#modalvideo">
                                Vídeo
                            </button>
                            {% endif %}
                            <br>
                            {% if i.ejercicios__tiempo %}
                            Tiempo: <span class="dato">{{ i.ejercicios__tiempo }}''</span>
                            {% endif %}
                            {% if i.ejercicios__reps %}
                            Repeticiones: <span class="dato">{{ i.ejercicios__reps }}</span>
                            {% endif %}


                        </div>

                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="items col-md-10 col-12 offset-md-1 pr-md-10 mb-5 pb-3">
                            <div class="container-fluid finalizar">
                                <div class="row mb-3  mb-5">
                                    <div class="col-6">{{ user.username|upper }} ESTADO ENTRENAMIENTO: {% csrf_token %}
                                        {{ respuesta }}
                                    </div>
                                    <div class="col-6">
                                        {% if historico|get_completadoEntrenamiento == 1 %}
                                        <i class="fas fa-battery-full"></i> COMPLETO
                                        {% elif historico|get_completadoEntrenamiento == 2 %}
                                        <i class="fas fa-battery-half naranja"></i> INCOMPLETO
                                        {% else %}
                                        <i class="fas fa-battery-empty rojo"></i> NO REALIZADO
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row mb-3  mb-5">
                                    <div class="col-6">COMENTARIO:</div>
                                    <div class="col-6">{{ historico|get_comentarioEntrenamiento }}</div>
                                </div>

                                    {% if historico|get_Calories %}
                                    <div class="row">
                                        <div class="col-12">Calorías:  {{ historico|get_Calories }}</div>
                                    </div>
                                    {% endif %}

                                    {% if historico|get_Steps %}
                                    <div class="row">
                                        <div class="col-12">Pasos: {{ historico|get_Steps }}</div>
                                    </div>
                                    {% endif %}

                                     {% if historico|get_EstimatedSteps %}
                                    <div class="row">
                                        <div class="col-12">Pasos estimados: {{ historico|get_EstimatedSteps }}</div>
                                    </div>
                                    {% endif %}

                                    {% if historico|get_Distance %}
                                    <div class="row">
                                        <div class="col-12">Distancia: {{ historico|get_Distance }}</div>
                                    </div>
                                    {% endif %}

                                    {% if historico|get_Heart %}
                                    <div class="row">
                                        <div class="col-12">Corazón: {{ historico|get_Heart }}</div>
                                    </div>
                                    {% endif %}

                                    {% if historico|get_Bpm %}
                                    <div class="row">
                                        <div class="col-12">Pulsaciones: {{ historico|get_Bpm }}</div>
                                    </div>
                                    {% endif %}

                                    {% if historico|get_Weight %}
                                    <div class="row">
                                        <div class="col-12">Peso: {{ historico|get_Weight }}</div>
                                    </div>
                                    {% endif %}

                                    {% if historico|get_Sesiones %}
                                    {% for i in historico %}
                                    <div class="row">
                                        <div class="col-12">Peso: {{ i.session_google__name }}</div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% endblock %}
            {% else %}
            {% block historico_all %}
            {% if user.is_authenticated %}
            <div class="login_on"></div>
            <br/>
            <div class="container-fluid">
                <div class="ejercicios row">
                    <div class="items col-md-10 col-12 offset-md-1 pb-3 pr-md-10 mb-3 mb-md-5">
                        <div class="container-fluid entrenamiento-cab">
                            <div class="ejercicios row">
                                <div class="col-12">
                                    <h1> Histórico para [{{ user }}]</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ejercicios row">
                    {% for i in historico %}

                    {% if forloop.counter|divisibleby:"2" %}
                    <div class="col-md-5 mb-md-5 mb-3  mr-md-0 offset-md-0 col-12 items pt-4">
                        {% else %}
                        <div class="col-md-5 mb-3 mb-md-5 mr-md-3 offset-md-1 col-12 items pt-4">
                            {% endif %}
                            <p>
                                <span>{{ i.fecha }}</span>
                            </p>

                            <p>
                                Series: <span class="dato">{{ i.series }}</span>
                            </p>

                            {% if i.ejercicios__nombre %}
                            {{ i.ejercicios__nombre }}
                            {% endif %}

                            {% if i.completado == 1 %}

                            <p><i class="fas fa-battery-full"></i> COMPLETO
                                {% elif i.completado == 2 %}
                            <p class="naranja"><i class="fas fa-battery-half naranja"></i> INCOMPLETO
                                {% else %}
                            <p class="rojo"><i class="fas fa-battery-empty rojo"></i> NO REALIZADO
                                {% endif %}
                            </p>
                            <p>
                                <a href="/historico/id/{{ i.id }}" class="btn btn-primary medidas-btn">IR A
                                    ENTRENAMIENTO</a>
                            </p>
                        </div>

                        {% endfor %}

                    </div>


                </div>
                <div class="row">
                    <div class="col-md-10 col-12 offset-md-1 pb-3 pr-md-10 mb-3 mb-md-5">
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="pagination">
                                     <span class="step-links">
                                         {% if page.has_previous %}
                                             <a href="?pag=1">&laquo; Primera</a>
                                             <a href="?pag={{ page.previous_page_number }}">&lt;&lt;</a>
                                         {% endif %}

                                         <span class="current">
                                             Página {{ page.number }} de {{ page.paginator.num_pages }}.
                                         </span>

                                         {% if page.has_next %}
                                             <a href="?pag={{ page.next_page_number }}">&gt;&gt;</a>
                                             <a href="?pag={{ page.paginator.num_pages }}">Última &raquo;</a>
                                         {% endif %}
                                     </span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>


        {% endif %}


        {% endblock %}
        {% endif %}

    </div>
</div>


