<div class="modal fade" id="modalcalendario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelindic"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->

                <div>Fecha: <span class="fecha-txt"></span></div>
                <div>Resultado: <span class="completado-txt"></span></div>
                <div>Ejercicios:<br><ul class="ejercicios-txt"></ul></div>
                <div>Series: <span class="series-txt"></span></div>
                <div>Comentario: <span class="comentario-txt"></span></div>


            </div>

        </div>
    </div>
</div>