<!-- Modal -->
<div class="modal fade" id="modalvideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                            allow="autoplay"></iframe>
                </div>


            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="modalindicaciones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelindic"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="indicaciones-txt">
                    indicaciones
                </div>


            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="modalgeneral" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->

                <div class="row">
                    <div class="col-12">
                        <h3>DATOS</h3>
                    </div>
                </div>
                <div class="row">

                    <div class="col-6 general-txt">
                    No aparecen datos de GoogleFit
                    </div>

                    <div class="col-6">
                        <button type="button" class="d-none btn btn-primary googlefit_save-btn" id="btn-save-data" data-toggle="modal">ACTUALIZAR DATOS
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 sesiones-txt"><h3>SESIONES</h3>
                    No aparecen sesiones de GoogleFit
                    </div>
                    <div class="col-6">
                        <button type="button" class="d-none btn btn-primary googlefit_save-btn" id="btn-save-session" data-toggle="modal">ACTUALIZAR SESIONES
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>




<div class="modal fade" id="modalinsta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelindic"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="videoinsta-txt">
                    insta
                </div>


            </div>

        </div>
    </div>
</div>