on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]
jobs:
  heroku_git_deploy_job:
      runs-on: ubuntu-latest
      name: Git Deploy job- A job to deploy django app to heroku using git
      steps:
          run: git push heroku dev:refs/heads/main